POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_database_name

ConnectionStrings__Default=Host=db;Port=5432;Database=your_database_name;Username=your_username;Password=your_password